@import "bootstrap/dist/css/bootstrap.min.css";

    /* style.css */
body {
  font-family: sans-serif;
  padding: 2rem;
  background-color: whitesmoke;
  color: rgb(121, 121, 220);
  text-align: center;
}

